.heathy-category {
  position: relative;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  margin: 0;
  z-index: 0;
  border: 2px solid #7ac143;
  border-radius: 5px;
}
.heathy-category > img {
  width: 100%;
  height: 100%;
  filter: brightness(0.4);
  cursor: pointer;
}
.heathy-category > p {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  padding: 10px;
  backdrop-filter: blur(1px);
  border-radius: 5px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform;
  transition: linear;
  transition-duration: 0.1s;
  font-size: 80%;
  text-transform: uppercase;
  /* color: #fff; */
  color: #7ac143;
}

/* Hover */
.heathy-category:hover {
  transform: scale(1.05);
  z-index: 1;
}
.heathy-category:hover img {
  filter: brightness(0.8);
}
.heathy-category:hover p {
  backdrop-filter: none;
  /* color: #7ac143; */
  font-weight: 600;
  text-decoration: underline;
}
