nav {
  background-color: #ddd;
}

.navigation > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #ddd;
}

.navigation > ul li {
  list-style-type: none;
  padding: 20px;
}

.navigation ul li a {
  text-decoration: none;
  font-size: 1em;
  color: #4d4d4d;
}

.brand {
  background-color: #7ac143;
  position: relative;
  min-height: 95px;
}

.brand > :nth-child(1) {
  width: 50%;
  background-color: #7ac143;

  /* max-height: px; */
}

.brand > :nth-child(1) > img {
  padding: 10px;
  width: 205px;
  display: flex;
  text-align: right;
}

.brand > :nth-child(2) {
  background-color: #7ac143;
  width: 50%;
  height: 100%;
  top: 0;
  position: absolute;
  right: 0;
  width: 50%;
}

.brand > :nth-child(2) > button {
  padding: 20px;
  background-color: #fff;

  border-radius: 10px;
}

.login-link {
  text-decoration: none;
  color: #ffffff;
  transition-property: font-size, color;
  transition-duration: 0.3s;
}

.login-link:hover {
  color: #000000;
  padding: 5px;
  font-size: 1.1em;
  text-decoration: underline;
}
.auth {
  text-align: right;
}
